@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Hubballi&family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
	--color-font-primary: #6b737c;
	--color-font-header: #c3cbd2;
	--color-font-header-hover: #babbbd;
	--color-link: #3e9bcb;
	--color-bg-master: #010409;
	--color-bg-secondary: #0d1117;
	--color-bg-header: #161b22;
	--color-bg-content: #0d1117;
	--color-bg-button: #21262d;
	--color-border: #30363d;
	--radius: 0.35rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-font-header);
}

a:link,
a:visited,
a:active,
a:hover {
	color: var(--color-link);
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	background-color: var(--color-bg-master);
	border: none;
	outline: none;
	padding: 0.35rem 0.5rem;
	border: 1px solid var(--color-border);
	border-radius: var(--radius);
}

.btn-dark {
	border: 4px;
	background-color: var(--color-bg-button);
	border: 1px solid var(--color-border);
	color: var(--color-font-header);
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius);
}

body {
	/* font-family: 'Dongle', sans-serif; */
	/* font-family: 'Hubballi', cursive; */
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: var(--color-font-primary);
	background-color: var(--color-bg-master);
}

.header-site {
	background-color: var(--color-bg-header);
	padding: 1rem;
	/* margin-bottom: 2rem; */
	display: flex;
	align-items: center;
}

.header-site > form {
	margin: 0rem 1rem;
	position: relative;
}

.header-search > input {
	border-right: none;
	border-radius: 0;
	border-radius: var(--radius) 0 0 var(--radius);
	padding-right: 0;
	min-width: 20vw;
	padding-left: 0.25rem 0;
}

.header-search > button {
	padding: 0.25rem 0.5rem;
	background-color: var(--color-bg-master);
	border: 1px solid var(--color-border);
	color: var(--color-font-header);
	position: absolute;
	right: 0.25rem;
	top: 0.1rem;
	border-radius: var(--radius);
}

.header-nav {
	list-style: none;
	display: flex;
}

.header-nav > li > a {
	color: var(--color-font-header);
	margin-left: 1rem;
	font-weight: 600;
	font-size: 0.9rem;
}

.header-nav > li > a:hover {
	color: var(--color-font-header-hover);
	text-decoration: none;
}

.wrapper {
	display: flex;
	width: 100vw;
	height: 100%;
}

.main-nav {
	background-color: var(--color-bg-secondary);
	border-right: 1px solid var(--color-border);
	width: 12vw;
	min-height: 100vh;
}

.content-site {
	background-color: var(--color-bg-master);
	width: 88vw;
	text-align: center;
}
